body {
  background-color: black;
  color: yellow;
  min-height: calc(100vh - 402.06px);
}

.card {display:inline-block;}

#container{
  background-color: black;
  padding: 10px;
  margin: 10px;
  border: 5px solid rgb(12, 138, 211);  
  width: 80%;

}

main {
background-color: black;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: yellow;
  color: black;
  text-align: center;
}

.inline {
  max-width: 200px;
  max-height: 300px;
  float: left;   
}

.text {
 font-size: 130%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
html, body {
  height: 100%;
  margin:100px;
  padding: 20px;
}

img {
  width: 200px; /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
}

.container2 {
  text-align: center;
  color: red;
  font-size: 200%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0 auto; /* Added */
        float: none; /* Added */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
